# Увімкнення модуля RewriteEngine
#RewriteEngine On

# Вимкнення прямого доступу до файлів і папок (за необхідності)
# Наприклад, щоб заборонити доступ до .env файлу:
#<FilesMatch "\.(env|json)$">
 # Require all denied
#</FilesMatch>

# Перевірка наявності реального файлу або каталогу
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

# Перенаправлення усіх інших запитів до index.html
#RewriteRule ^ index.html [L]

# Увімкнення модуля RewriteEngine
RewriteEngine On

# Перенаправлення з www на без www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# Вимкнення прямого доступу до файлів .env та .json
<FilesMatch "\.(env|json)$">
  Require all denied
</FilesMatch>

# Дозволяємо доступ до sitemap.xml
RewriteCond %{REQUEST_URI} !^/sitemap\.xml$

# Перевіряємо, чи не є запит реальним файлом або папкою
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Перенаправляємо всі інші запити на index.html
RewriteRule ^ index.html [L]

