RewriteEngine On

# Перенаправлення з www на без www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# Вимкнення прямого доступу до файлів .env
<FilesMatch "\.(env)$">
  Require all denied
</FilesMatch>

# Дозволяємо доступ до sitemap.xml
RewriteCond %{REQUEST_URI} !^/sitemap\.xml$

# Перевіряємо, чи не є запит реальним файлом або папкою
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Перенаправляємо всі інші запити на index.html
RewriteRule . /index.html [L]
