nav.menu {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 70%;
	z-index: 9998;
	ul {
		display: flex;
		list-style: none;
		justify-content: center;
		gap: 35px;
		align-items: center;
		height: 60px;
	}

	li {
		display: block;
		font-size: 1.1rem;
		font-weight: 400;
		padding: 6px;
	}

	li.active {
		border-bottom: 3px dashed var(--accent);
	}
	.icon-box {
		display: none;
	}
}

@media all and (max-width: 900px) {
	nav.menu {
		ul {
			display: flex;
			list-style: none;
			gap: 10px;
			align-items: center;
		}

		li {
			font-size: 1rem;
			padding: 4px 8px;
		}
	}
}

@media all and (max-width: 768px) {
	nav.menu {
		width: 100%;
		transform: none;
		bottom: 0;
		top: auto;
		left: 0;
		ul {
			box-shadow: 1px 1px 4px var(--background);
			background: var(--background);
			height: 60px;
			display: flex;
			list-style: none;
			gap: 10px;
			align-items: center;
			justify-content: space-between;
			padding: 0 15px;
		}

		li {
			font-size: 0.8rem;
			padding: 0;
			font-weight: 400;
			width: 56px;
		}

		a {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		li.active {
			border: none;
		}

		li:nth-child(1) .icon-box {
			background-image: url("/assets/icons/home.svg");
		}

		li:nth-child(2) .icon-box {
			background-image: url("/assets/icons/store.svg");
		}

		li:nth-child(3) .icon-box {
			background-image: url("/assets/icons/game.svg");
		}

		li:nth-child(4) .icon-box {
			background-image: url("/assets/icons/events.svg");
		}

		li:nth-child(5) .icon-box {
			background-image: url("/assets/icons/profile.svg");
		}

		li.active:nth-child(1) .icon-box {
			background-image: url("/assets/icons/a-home.svg");
		}

		li.active:nth-child(2) .icon-box {
			background-image: url("/assets/icons/a-store.svg");
		}

		li.active:nth-child(3) .icon-box {
			background-image: url("/assets/icons/a-game.svg");
		}

		li.active:nth-child(4) .icon-box {
			background-image: url("/assets/icons/a-events.svg");
		}

		li.active:nth-child(5) .icon-box {
			background-image: url("/assets/icons/a-profile.svg");
		}

		.icon-box {
			height: 32px;
			width: 32px;
			display: inline-block;
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
	}
}
